apiVersion: apps/v1
kind: Deployment
metadata:
  name: aisystem
  labels:
    app: aisystem
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aisystem
  template:
    metadata:
      labels:
        app: aisystem
    spec:
      containers:
        - name: aisystem
          image: "a0717.azurecr.io/aisystem:latest"
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5
